In [2]:
import os
%pwd

'd:\\Movie recommendation system\\Notebooks'

In [3]:
os.chdir("../")
%pwd

'd:\\Movie recommendation system'

In [4]:
import os
path = r"./datasets/archive (2)"
file_path = os.path.join(path,"movies_metadata.csv")
print("file_path",file_path)
print("Exists",os.path.exists(file_path))

file_path ./datasets/archive (2)\movies_metadata.csv
Exists True

In [5]:
import pandas as pd
df = pd.read_csv(file_path)
df.columns = df.columns.str.lower().str.strip()

useful_col = ["title", "genre", "overview", "release_date", "id"]
df = df[[col for col in useful_col if col in df.columns]]

df.dropna(subset="title", inplace=True)
df.drop_duplicates(subset="title", inplace=True)
df.reset_index(drop=True, inplace=True)
df.isna().sum()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_4500\1083516837.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

title             0
overview        915
release_date     81
id                0
dtype: int64

In [11]:
import time
import requests
from tqdm import tqdm
api_key = "b7e4526c"
limit = 300
titles = df["title"].head(limit)
movie_data = []

for title in tqdm(titles):
    try:
        url = f"http://www.omdbapi.com/?t={title}&apikey={api_key}"
        response = requests.get(url)
        data = response.json()
        if data.get('Response') == 'True':
            movie_data.append({
                'title': data.get('Title'),
                'imdb_rating': data.get('imdbRating'),
                'runtime': data.get('Runtime'),
                'director': data.get('Director'),
                'actors': data.get('Actors'),
                'plot_omdb': data.get('Plot')
            })

        time.sleep(0.3)
    except Exception as e:
      print(f"Error fetching {title}; {e}")

  2%|▏         | 5/300 [00:29<25:46,  5.24s/it]

Error fetching Father of the Bride Part II; ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

  5%|▍         | 14/300 [00:59<20:25,  4.29s/it]

KeyboardInterrupt:

In [5]:
import pandas as pd
path_df = "datasets/merged_movies.csv"

df = pd.read_csv(path_df)

print(df.columns)

Index(['title', 'overview', 'release_date', 'id', 'imdb_rating', 'runtime',
       'director', 'actors', 'plot_omdb'],
      dtype='object')

In [2]:
%pwd

'd:\\Movie recommendation system\\Notebooks'

In [3]:
import os
os.chdir("../")
%pwd

'd:\\Movie recommendation system'

In [5]:
import pandas as pd
path = "datasets/archive (2)/movies_metadata.csv"

check = pd.read_csv(path)

check.head()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_4068\1552246479.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  check = pd.read_csv(path)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [14]:
path_2 = "datasets/netflix_titles.csv/netflix_titles.csv"

check_2 = pd.read_csv(path_2)
check_2.head()
print(check_2.columns)

path_3 = "datasets/movies_data.csv"
check_3 = pd.read_csv(path_3)
print(check_3.columns)

path_4 = "datasets/titles.csv/titles.csv"
check_4 = pd.read_csv(path_4)
print(check_4.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')
Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [1]:
%pwd

'd:\\Movie recommendation system\\Notebooks'

In [2]:
import os
os.chdir('d:\\Movie recommendation system')
%pwd

'd:\\Movie recommendation system'

In [6]:
import pandas as pd
path_1 = "datasets/TMDB_movie_dataset_v11.csv"
path_2 = "datasets/final_cleaned.csv"

df_1 = pd.read_csv(path_1)
df_2 = pd.read_csv(path_2)

print(df_1.columns)
print(df_2.columns)

df_1["imdb_id"].head(10)
#df_2.head(10)

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')
Index(['Serial No', 'movie_id', 'movie_name', 'year', 'genre', 'overview',
       'director', 'cast', 'poster_url', 'rating', 'votes'],
      dtype='object')

0    tt1375666
1    tt0816692
2    tt0468569
3    tt0499549
4    tt0848228
5    tt1431045
6    tt4154756
7    tt0137523
8    tt2015381
9    tt0110912
Name: imdb_id, dtype: object

In [7]:
from SRC.data_loader_2 import data_cleaner

path_1 = "datasets/TMDB_movie_dataset_v11.csv"
path_2 = "datasets/final_cleaned.csv"

df_1, df_2 = data_cleaner(path_1,path_2)

df_1.head()
#df_2.head()

,title,overview,language,release_year,tmdb_rating,tmdb_id,imdb_id
0,Inception,"Cobb, a skilled thief who commits corporate es...",en,2010.0,8.364,27205,tt1375666
1,Interstellar,The adventures of a group of explorers who mak...,en,2014.0,8.417,157336,tt0816692
2,The Dark Knight,Batman raises the stakes in his war on crime. ...,en,2008.0,8.512,155,tt0468569
3,Avatar,"In the 22nd century, a paraplegic Marine is di...",en,2009.0,7.573,19995,tt0499549
4,The Avengers,When an unexpected enemy emerges and threatens...,en,2012.0,7.710,24428,tt0848228

In [8]:
from SRC.data_loader_2 import merge_file

merge = merge_file(df_1,df_2)

merge.tail()

,title,overview,language,release_year,tmdb_rating,tmdb_id,imdb_id,director,actors,imdb_rating
1319586,In Search of Gandhi,NaN,NaN,2007,NaN,NaN,tt1111348,Lalit Vachani,Not Available,7.2
1319587,Soch Lo,NaN,NaN,2010,NaN,NaN,tt1630613,Sartaj Singh Pannu,"Barkha Madan, Iris Maity, Nishan Nanaiah",6.5
1319588,Dil Apna Aur Preet Parai,NaN,NaN,1960,NaN,NaN,tt0053767,Kishore Sahu,"Raaj Kumar, Meena Kumari, Nadira",6.6
1319589,Ruslaan,NaN,NaN,2009,NaN,NaN,tt4479208,Mohan Sharma,"Govardhan Asrani, Megha Chatterjee, Raymond D'...",Not Available
1319590,Toss: A Flip of Destiny,NaN,NaN,2009,NaN,NaN,tt1992257,Ramesh Khatkar,"Rannvijay Singh, Prashant Raj, Ashmit Patel",5.8

In [9]:
merge.to_csv("datasets/merged_clean_movies_2.csv",index=False)
print("file saved")

file saved

In [9]:
import pandas as pd
path = "datasets/merged_clean_movies.csv"

df = pd.read_csv(path, low_memory=False)


df["release_year"] = pd.to_numeric(df['release_year'], errors="coerce")

df['imdb_rating'] = pd.to_numeric(df['imdb_rating'], errors="coerce")

for col in ['director', 'actors']:
    if col in df.columns:
        df[col] = df[col].astype(str).replace(['nan', 'N/A', 'Not Available', 'Unknown', 'None'], None)
    


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279414 entries, 0 to 1279413
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   title         1279409 non-null  object
 1   overview      988876 non-null   object
 2   language      1272145 non-null  object
 3   release_year  1036037 non-null  float64
 4   tmdb_rating   1272145 non-null  float64
 5   tmdb_id       1272145 non-null  float64
 6   director      7157 non-null     object
 7   actors        7048 non-null     object
 8   imdb_rating   5852 non-null     float64
dtypes: float64(4), object(5)
memory usage: 87.9+ MB

In [12]:
path_2 = "datasets/merged_enriched_movies.csv"

df_2 = pd.read_csv(path_2)

df_2.tail()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_11820\1772673695.py:3: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(path_2)

,title,overview,language,release_year,tmdb_rating,tmdb_id,director,actors,imdb_rating
1279409,In Search of Gandhi,NaN,NaN,2007.0,NaN,NaN,Lalit Vachani,NaN,7.2
1279410,Soch Lo,NaN,NaN,2010.0,NaN,NaN,Sartaj Singh Pannu,"Barkha Madan, Iris Maity, Nishan Nanaiah",6.5
1279411,Dil Apna Aur Preet Parai,NaN,NaN,1960.0,NaN,NaN,Kishore Sahu,"Raaj Kumar, Meena Kumari, Nadira",6.6
1279412,Ruslaan,NaN,NaN,2009.0,NaN,NaN,Mohan Sharma,"Govardhan Asrani, Megha Chatterjee, Raymond D'...",NaN
1279413,Toss: A Flip of Destiny,NaN,NaN,2009.0,NaN,NaN,Ramesh Khatkar,"Rannvijay Singh, Prashant Raj, Ashmit Patel",5.8

In [4]:
import pandas as pd
p = "datasets/merged_clean_movies.csv"

df = pd.read_csv(p)
df.head()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_4964\2572323500.py:4: DtypeWarning: Columns (3,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(p)

,title,overview,language,release_year,tmdb_rating,tmdb_id,director,actors,imdb_rating
0,Inception,"Cobb, a skilled thief who commits corporate es...",en,2010.0,8.364,27205.0,NaN,NaN,NaN
1,Interstellar,The adventures of a group of explorers who mak...,en,2014.0,8.417,157336.0,NaN,NaN,NaN
2,The Dark Knight,Batman raises the stakes in his war on crime. ...,en,2008.0,8.512,155.0,NaN,NaN,NaN
3,Avatar,"In the 22nd century, a paraplegic Marine is di...",en,2009.0,7.573,19995.0,NaN,NaN,NaN
4,The Avengers,When an unexpected enemy emerges and threatens...,en,2012.0,7.710,24428.0,NaN,NaN,NaN

In [4]:
import pandas as pd
import os

path = "datasets/enriched_movies.csv"

df = pd.read_csv(path)

df.head()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_16432\2814256426.py:6: DtypeWarning: Columns (3,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,title,overview,language,release_year,tmdb_rating,tmdb_id,director,actors,imdb_rating,genre,poster
0,Inception,"Cobb, a skilled thief who commits corporate es...","English, Japanese, French",2010.0,8.364,27205.0,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,"Action, Adventure, Sci-Fi",https://m.media-amazon.com/images/M/MV5BMjAxMz...
1,Interstellar,The adventures of a group of explorers who mak...,English,2014.0,8.417,157336.0,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",8.7,"Adventure, Drama, Sci-Fi",https://m.media-amazon.com/images/M/MV5BYzdjMD...
2,The Dark Knight,Batman raises the stakes in his war on crime. ...,"English, Mandarin",2008.0,8.512,155.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart",9.1,"Action, Crime, Drama",https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,Avatar,"In the 22nd century, a paraplegic Marine is di...","English, Spanish",2009.0,7.573,19995.0,James Cameron,"Sam Worthington, Zoe Saldaña, Sigourney Weaver",7.9,"Action, Adventure, Fantasy",https://m.media-amazon.com/images/M/MV5BMDEzMm...
4,The Avengers,When an unexpected enemy emerges and threatens...,"English, Russian",2012.0,7.710,24428.0,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",8.0,"Action, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNGE0YT...

In [2]:
from justwatch import JustWatch

api = JustWatch(country="IN")
result = api.search_for_item(query="Pushpa: The Rise")
offers = result["items"][0]["offers"]
print({o["provider_id"] for o in offers})

HTTPError: 404 Client Error: Not Found for url: https://apis.justwatch.com/content/titles/en_IN/popular

In [2]:
import requests
from bs4 import BeautifulSoup

def check_watch_provider(imdb_id):
    try:
        url = f"https://www.imdb.com/title/{imdb_id}/"
        headers = {"User-Agent": "Mozilla/5.0"}
        reponse = requests.get(url, headers=headers, timeout=10)

        if reponse.status_code != 200:
            print(f"IMDB page not found")
            return None
        
        soup = BeautifulSoup(reponse.text, "html.parser")
        text = soup.get_text(" ").lower()

        ott_keywords = {
            "Netflix": ["netflix"],
            'Amazon Prime Video': ['primevideo','amazon'],
            'Disney+ hotstar': ['disney', 'hotstar'],
            'Zee5': ['zee5'],
            'Youtube': ['youtube', 'googleplay'],
        }

        found = [name for name, keys in ott_keywords.items() if any(k in text for k in keys)]
        if found:
            print(f"found providers for {imdb_id}: {','.join(found)}")

            return found
        else:
            print(f"No providers found")
            return None
    except Exception as e:
        print(f"error fetching imdb page: {e}")
        return None
    


test_ids = ["tt1375666",
            "tt11866324",
            "tt1187043"]

for mid in test_ids:
    check_watch_provider(mid)

found providers for tt1375666: Amazon Prime Video
found providers for tt11866324: Amazon Prime Video,Disney+ hotstar
found providers for tt1187043: Amazon Prime Video

In [7]:
import re
def get_imdb_rating(imdb_id):
    if imdb_id is None:
        return None
    
    url = f"https://www.imdb.com/title/{imdb_id}/"

    headers = {"User-Agent": "Mozilla/5.0"}

    try:
        r = requests.get(url, headers=headers,timeout=10)

        if r.status_code != 200:
            print("Rating error:", r.status_code)
            return None
        
    except:
        return None
    
    soup = BeautifulSoup(r.text, "html.parser")

    text = soup.get_text(" ", strip=True)

    match = re.search(r"(\d\.\d)\s*/\s*10", text)
    if match:
        return match.group(1)
    
    return None

test_ids = ["tt1375666",
            "tt11866324",
            "tt4154796"]

for mid in test_ids:
    print(get_imdb_rating(mid))

8.8
7.1
8.4

In [14]:
import pandas as pd

path = "datasets/enriched_movies.csv"

df = pd.read_csv(path)

df.head()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_21956\3126161222.py:5: DtypeWarning: Columns (3,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,title,overview,language,release_year,tmdb_rating,tmdb_id,director,actors,imdb_rating,genre,poster
0,Inception,"Cobb, a skilled thief who commits corporate es...","English, Japanese, French",2010.0,8.364,27205.0,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,"Action, Adventure, Sci-Fi",https://m.media-amazon.com/images/M/MV5BMjAxMz...
1,Interstellar,The adventures of a group of explorers who mak...,English,2014.0,8.417,157336.0,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",8.7,"Adventure, Drama, Sci-Fi",https://m.media-amazon.com/images/M/MV5BYzdjMD...
2,The Dark Knight,Batman raises the stakes in his war on crime. ...,"English, Mandarin",2008.0,8.512,155.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart",9.1,"Action, Crime, Drama",https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,Avatar,"In the 22nd century, a paraplegic Marine is di...","English, Spanish",2009.0,7.573,19995.0,James Cameron,"Sam Worthington, Zoe Saldaña, Sigourney Weaver",7.9,"Action, Adventure, Fantasy",https://m.media-amazon.com/images/M/MV5BMDEzMm...
4,The Avengers,When an unexpected enemy emerges and threatens...,"English, Russian",2012.0,7.710,24428.0,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",8.0,"Action, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNGE0YT...

In [1]:
%pwd

'd:\\Movie recommendation system\\Notebooks'

In [1]:
import os

os.chdir("../")
%pwd

'd:\\Movie recommendation system'

In [14]:
import pandas as pd

merged_df = pd.read_csv("datasets/merged_clean_movies_2.csv")

enriched_df = pd.read_csv("datasets/enriched_movies.csv")

merged_df["title"] = merged_df["title"].str.strip().str.lower()
enriched_df["title"] = enriched_df["title"].str.strip().str.lower()

final_df = enriched_df.merge(merged_df[["title", "imdb_id"]],
                             on="title", how="left")

final_df.to_csv("datasets/enriched_movies.csv", index=False)
print(f"Imdb id column added successfully")


missing_count = final_df["imdb_id"].isna().sum()

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_23132\3562233183.py:3: DtypeWarning: Columns (3,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv("datasets/merged_clean_movies_2.csv")
C:\Users\anuj verma\AppData\Local\Temp\ipykernel_23132\3562233183.py:5: DtypeWarning: Columns (3,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  enriched_df = pd.read_csv("datasets/enriched_movies.csv")

Imdb id column added successfully

KeyError: 'imdb_id'

In [5]:
import pandas as pd
df = pd.read_csv("datasets/enriched_movies.csv")

df.info
#print(f"Missing imdb ids for {missing_count} movies")
#df.columns

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_24252\3420081779.py:2: DtypeWarning: Columns (3,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/enriched_movies.csv")

<bound method DataFrame.info of                             title  \
0                       Inception
1                    Interstellar
2                 The Dark Knight
3                          Avatar
4                    The Avengers
...                           ...
1279409       In Search of Gandhi
1279410                   Soch Lo
1279411  Dil Apna Aur Preet Parai
1279412                   Ruslaan
1279413   Toss: A Flip of Destiny

                                                  overview  \
0        Cobb, a skilled thief who commits corporate es...
1        The adventures of a group of explorers who mak...
2        Batman raises the stakes in his war on crime. ...
3        In the 22nd century, a paraplegic Marine is di...
4        When an unexpected enemy emerges and threatens...
...                                                    ...
1279409                                                NaN
1279410                                                NaN
1279411                                                NaN
1279412                                                NaN
1279413                                                NaN

                          language release_year  tmdb_rating   tmdb_id  \
0        English, Japanese, French       2010.0        8.364   27205.0
1                          English       2014.0        8.417  157336.0
2                English, Mandarin       2008.0        8.512     155.0
3                 English, Spanish       2009.0        7.573   19995.0
4                 English, Russian       2012.0        7.710   24428.0
...                            ...          ...          ...       ...
1279409                        NaN         2007          NaN       NaN
1279410                        NaN         2010          NaN       NaN
1279411                        NaN         1960          NaN       NaN
1279412                        NaN         2009          NaN       NaN
1279413                        NaN         2009          NaN       NaN

           imdb_id            director  \
0        tt1375666   Christopher Nolan
1        tt0816692   Christopher Nolan
2        tt0468569   Christopher Nolan
3        tt0499549       James Cameron
4        tt0848228         Joss Whedon
...            ...                 ...
1279409  tt1111348       Lalit Vachani
1279410  tt1630613  Sartaj Singh Pannu
1279411  tt0053767        Kishore Sahu
1279412  tt4479208        Mohan Sharma
1279413  tt1992257      Ramesh Khatkar

                                                    actors    imdb_rating  \
0        Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...            8.8
1        Matthew McConaughey, Anne Hathaway, Jessica Ch...            8.7
2              Christian Bale, Heath Ledger, Aaron Eckhart            9.1
3           Sam Worthington, Zoe Saldaña, Sigourney Weaver            7.9
4        Robert Downey Jr., Chris Evans, Scarlett Johan...            8.0
...                                                    ...            ...
1279409                                      Not Available            7.2
1279410           Barkha Madan, Iris Maity, Nishan Nanaiah            6.5
1279411                   Raaj Kumar, Meena Kumari, Nadira            6.6
1279412  Govardhan Asrani, Megha Chatterjee, Raymond D'...  Not Available
1279413        Rannvijay Singh, Prashant Raj, Ashmit Patel            5.8

                              genre  \
0         Action, Adventure, Sci-Fi
1          Adventure, Drama, Sci-Fi
2              Action, Crime, Drama
3        Action, Adventure, Fantasy
4                    Action, Sci-Fi
...                             ...
1279409                         NaN
1279410                         NaN
1279411                         NaN
1279412                         NaN
1279413                         NaN

                                                    poster
0        https://m.media-amazon.com/images/M/MV5BMjAxMz...
1        https://m.media-amazon.com/images/M/MV5BYzdjMD...
2        https://m.media-amazon.com/images/M/MV5BMTMxNT...
3        https://m.media-amazon.com/images/M/MV5BMDEzMm...
4        https://m.media-amazon.com/images/M/MV5BNGE0YT...
...                                                    ...
1279409                                                NaN
1279410                                                NaN
1279411                                                NaN
1279412                                                NaN
1279413                                                NaN

[1279414 rows x 12 columns]>

In [21]:
movie = df[df["title"].str.contains("inception", case=False,na=False)][["title", 'imdb_id_x', 'imdb_rating']]
print(movie)

                                                     title  imdb_id_x  \
258312                                   wwa the inception  tt0311992
419538                                           inception  tt1375666
419539                                           inception  tt1375666
635849                            inception: the cobol job  tt5295894
635852               inception: jump right into the action  tt5295990
664291                                the crack: inception  tt6793710
686493                                    bikini inception  tt8269586
709695            the inception of dramatic representation        NaN
756668            inception: music from the motion picture        NaN
1048807  syndrome halla, the inception of croatian prof...        NaN
1054712                                     inception test        NaN

        imdb_rating
258312          NaN
419538          NaN
419539          NaN
635849          NaN
635852          NaN
664291          NaN
686493          NaN
709695          NaN
756668          NaN
1048807         NaN
1054712         NaN

In [8]:
df = pd.read_csv("datasets/enriched_movies.csv")

df = df.sort_values(by="imdb_id", na_position="last")

df = df.drop_duplicates(subset=["title"], keep="first")

df.to_csv("datasets/enriched_movies.csv", index=False)

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_23132\2805413894.py:1: DtypeWarning: Columns (3,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/enriched_movies.csv")

In [11]:
df = pd.read_csv("datasets/enriched_movies.csv")
df.info

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_23132\1141176063.py:1: DtypeWarning: Columns (3,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/enriched_movies.csv")

<bound method DataFrame.info of                                                      title  \
0                             the toon dropper albany slam
1                                               carmencita
2                                       clown and his dogs
3                                             poor pierrot
4                                              a good beer
...                                                    ...
1105820          13 moments that destroyed michael jackson
1105821  christopher doyle in conversation: days of bei...
1105822                                        the bathday
1105823                                    love by brother
1105824                                     mitya elizarov

                                                  overview language  \
0        In a surreal collision of animation and street...       en
1        The first woman to appear in front of an Ediso...       xx
2           Short film of 300 individually painted images.       fr
3        One night, Arlequin comes to see his lover Col...       fr
4                                                      NaN       fr
...                                                    ...      ...
1105820  A look at how Michael Jackson's life was far f...       en
1105821                                                NaN       en
1105822  A young girl Sasha is released from prison. He...       ru
1105823  Purely by accident the younger brother learns ...       ru
1105824  Somewhere among the panel high-rise buildings ...       ru

        release_year  tmdb_rating    tmdb_id director actors imdb_rating  \
0             2025.0        0.000  1554610.0      NaN    NaN         NaN
1             1894.0        5.200    16612.0      NaN    NaN         NaN
2             1892.0        4.700    16613.0      NaN    NaN         NaN
3             1892.0        6.029    88013.0      NaN    NaN         NaN
4             1892.0        4.000    16622.0      NaN    NaN         NaN
...              ...          ...        ...      ...    ...         ...
1105820       2019.0        0.000   819266.0      NaN    NaN         NaN
1105821          NaN        0.000   819269.0      NaN    NaN         NaN
1105822       2021.0        0.000   819270.0      NaN    NaN         NaN
1105823       2021.0        0.000   819276.0      NaN    NaN         NaN
1105824       2021.0        0.000   819280.0      NaN    NaN         NaN

        genre poster    imdb_id
0         NaN    NaN  tt0000000
1         NaN    NaN  tt0000001
2         NaN    NaN  tt0000002
3         NaN    NaN  tt0000003
4         NaN    NaN  tt0000004
...       ...    ...        ...
1105820   NaN    NaN        NaN
1105821   NaN    NaN        NaN
1105822   NaN    NaN        NaN
1105823   NaN    NaN        NaN
1105824   NaN    NaN        NaN

[1105825 rows x 12 columns]>

In [9]:
import pandas as pd

df = pd.read_csv("datasets/enriched_movies_platform.csv")

df.head(10)

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_24252\2226310273.py:3: DtypeWarning: Columns (3,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/enriched_movies_platform.csv")

,title,overview,language,release_year,tmdb_rating,tmdb_id,imdb_id,director,actors,imdb_rating,genre,poster,where_to_watch
0,Inception,"Cobb, a skilled thief who commits corporate es...","English, Japanese, French",2010.0,8.364,27205.0,tt1375666,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,"Action, Adventure, Sci-Fi",https://m.media-amazon.com/images/M/MV5BMjAxMz...,Amazon Prime Video
1,Interstellar,The adventures of a group of explorers who mak...,English,2014.0,8.417,157336.0,tt0816692,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",8.7,"Adventure, Drama, Sci-Fi",https://m.media-amazon.com/images/M/MV5BYzdjMD...,Amazon Prime Video
2,The Dark Knight,Batman raises the stakes in his war on crime. ...,"English, Mandarin",2008.0,8.512,155.0,tt0468569,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart",9.1,"Action, Crime, Drama",https://m.media-amazon.com/images/M/MV5BMTMxNT...,Amazon Prime Video
3,Avatar,"In the 22nd century, a paraplegic Marine is di...","English, Spanish",2009.0,7.573,19995.0,tt0499549,James Cameron,"Sam Worthington, Zoe Saldaña, Sigourney Weaver",7.9,"Action, Adventure, Fantasy",https://m.media-amazon.com/images/M/MV5BMDEzMm...,Amazon Prime Video
4,The Avengers,When an unexpected enemy emerges and threatens...,"English, Russian",2012.0,7.710,24428.0,tt0848228,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",8.0,"Action, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNGE0YT...,Amazon Prime Video
5,Deadpool,The origin story of former Special Forces oper...,English,2016.0,7.606,293660.0,tt1431045,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller",8.0,"Action, Comedy, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNzY3ZW...,"Amazon Prime Video,Disney+ hotstar"
6,Avengers: Infinity War,As the Avengers and their allies have continue...,English,2018.0,8.255,299536.0,tt4154756,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",8.4,"Action, Adventure, Sci-Fi",https://m.media-amazon.com/images/M/MV5BMjMxNj...,"Amazon Prime Video,Disney+ hotstar"
7,Fight Club,A ticking-time-bomb insomniac and a slippery s...,English,1999.0,8.438,550.0,tt0137523,David Fincher,"Brad Pitt, Edward Norton, Meat Loaf",8.8,"Crime, Drama, Thriller",https://m.media-amazon.com/images/M/MV5BOTgyOG...,Amazon Prime Video
8,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",English,2014.0,7.906,118340.0,tt2015381,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper",8.0,"Action, Adventure, Comedy",https://m.media-amazon.com/images/M/MV5BM2ZmNj...,Amazon Prime Video
9,Pulp Fiction,"A burger-loving hit man, his philosophical par...","English, Spanish, French",1994.0,8.488,680.0,tt0110912,Quentin Tarantino,"John Travolta, Uma Thurman, Samuel L. Jackson",8.8,"Crime, Drama",https://m.media-amazon.com/images/M/MV5BYTViYT...,Amazon Prime Video

In [3]:
import pandas as pd

path = "datasets/TMDB_movie_dataset_v11.csv"

df = pd.read_csv(path)
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [ ]:
import pandas as pd
path_1 = "datasets/movie_with_user_rating.csv"
df_1 = pd.read_csv(path_1)
df_1.tail(10)

       user_id                      movie_title  rating
2979  User_100                     Interstellar     3.8
2980  User_100       The Twilight Saga: Eclipse     2.5
2981  User_100                  Sherlock Holmes     3.1
2982  User_100     Star Wars: The Force Awakens     5.0
2983  User_100                      Unbreakable     3.8
2984  User_100                           Pixels     3.1
2985  User_100  The Secret Life of Walter Mitty     3.7
2986  User_100              Catch Me If You Can     4.8
2987  User_100                         Predator     3.2
2988  User_100                             Soul     4.2

In [7]:
import pandas as pd

path = "datasets/movie_with_user_rating.csv"

df = pd.read_csv(path)
df.head(20)

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_9352\1880517578.py:5: DtypeWarning: Columns (3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,user_id,movie_id,title,imdb_rating,actors,where_to_watch,poster,user_rating
0,user_126,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,6.5
1,user_166,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.5
2,user_122,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.3
3,user_33,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.1
4,user_141,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.1
5,user_242,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.0
6,user_29,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,10.0
7,user_85,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.3
8,user_255,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.5
9,user_116,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,7.1
10,user_170,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,10.0
11,user_48,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.2
12,user_88,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,7.5
13,user_149,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.6
14,user_273,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,7.9
15,user_69,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.4
16,user_30,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,7.6
17,user_17,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,10.0
18,user_187,1002,Interstellar,8.7,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BYzdjMD...,9.1
19,user_131,1002,Interstellar,8.7,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BYzdjMD...,9.1

In [2]:
import pandas as pd

df = pd.read_csv("datasets/movie_with_user_rating.csv")
df = df.head(5000)
print(df.columns.tolist())
#ser_item_matrix = df.pivot_table(index="user_id",columns="title", values="user_rating").fillna(0)
#print(user_item_matrix.shape)

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_16688\3508174239.py:3: DtypeWarning: Columns (3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/movie_with_user_rating.csv")

['user_id', 'movie_id', 'title', 'imdb_rating', 'actors', 'where_to_watch', 'poster', 'user_rating']

In [2]:
import pandas as pd

df = pd.read_csv("datasets/imdb_enriched.csv")

df.shape

(200, 28)

In [5]:
df.tail()

,Unnamed: 0.1,Unnamed: 0,id,title,vote_average,vote_count,status,release_date,revenue,runtime,...,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,imdb_rating,where_to_watch
195,276,291,196,Back to the Future Part III,7.465,9679,Released,1990-05-25,244527583,119,...,33.735,/crzoVQnMzIrRfHtQw0tLBirNfVg.jpg,They've saved the best trip for last... But th...,"Adventure, Comedy, Science Fiction","Universal Pictures, Amblin Entertainment",United States of America,English,"california, saloon, sports car, inventor, hors...",7.5,['Amazon Prime Video']
196,279,294,600,Full Metal Jacket,8.136,9665,Released,1987-06-26,46357676,117,...,40.541,/kMKyx1k8hWWscYFnPbnxxN4Eqo4.jpg,In Vietnam The Wind Doesn't Blow It Sucks,"Drama, War","Natant, Stanley Kubrick Productions, Warner Br...","United Kingdom, United States of America","English, Vietnamese","rescue, sniper, vietnam war, suicide, vietnam,...",8.2,['Amazon Prime Video']
197,282,297,510,One Flew Over the Cuckoo's Nest,8.420,9650,Released,1975-11-19,108981275,133,...,36.673,/3jcbDmRFiQ83drXNOvRDeKHxS0C.jpg,"If he's crazy, what does that make you?",Drama,Fantasy Films,United States of America,English,"mentally disabled, friendship, based on novel ...",8.6,['Amazon Prime Video']
198,284,299,629,The Usual Suspects,8.195,9604,Released,1995-07-19,23341568,106,...,30.858,/bUPmtQzrRhzqYySeiMpv7GurAfm.jpg,Five criminals. One line up. No coincidence.,"Drama, Crime, Thriller","Bad Hat Harry Productions, Blue Parrot Product...",United States of America,"Spanish, English, French, Hungarian","new york city, relatives, heist, gay interest,...",8.5,['Amazon Prime Video']
199,285,300,1949,Zodiac,7.500,9597,Released,2007-03-02,84785914,157,...,36.465,/6YmeO4pB7XTh8P8F960O1uA14JO.jpg,There's more than one way to lose your life to...,"Crime, Drama, Mystery, Thriller","Paramount, Phoenix Pictures, Warner Bros. Pict...",United States of America,English,"newspaper, journalist, california, based on no...",7.7,['Amazon Prime Video']

In [1]:
import os 

os.chdir("../")

%pwd

'd:\\Movie recommendation system'

In [10]:
import requests


def get_watch_provider(title, year=None):
    url = f"https://apis.justwatch.com/content//titles/en_IN/popular"

    payload = {
        "page_size": 5,
        "page": 1,
        "query": title
    }

    headers = {
        "User-Agent": "Mozilla/5.0",
        "Content-Type": "applicaation/json"
    }

    response = requests.post(url, json=payload,headers=headers)
    print("Status:", response.status_code)


    if response.status_code != 200:
        print("Error:", response.status_code)
        return None
    try:
        data = response.json()
    except:
        print("JSON ERROR")
        return None
    


    if "items" not in data or len(data["items"]) ==0:
        return None
    
    item = data["items"][0]
    offers = item.get("offers", [])
    if not offers:
        return []
    


    providers = set()

    for off in offers:
        provider = off.get("package_short_name")
        if provider:
            providers.add(provider)


    return list(providers)


    

print(get_watch_provider("Inception"))

Status: 404
Error: 404
None

In [2]:
import pandas as pd

df = pd.read_csv("datasets/imdb_enriched.csv")

df.shape

(2700, 28)

In [3]:
df.head(200)

,Unnamed: 0.1,Unnamed: 0,id,title,vote_average,vote_count,status,release_date,revenue,runtime,...,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,imdb_rating,where_to_watch
0,0,0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,...,83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc...",8.8,['Amazon Prime Video']
1,1,1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,...",8.7,['Amazon Prime Video']
2,2,2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f...",9.1,['Amazon Prime Video']
3,3,3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,...,79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ...",7.9,['Amazon Prime Video']
4,4,4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com...",8.0,['Amazon Prime Video']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,276,291,196,Back to the Future Part III,7.465,9679,Released,1990-05-25,244527583,119,...,33.735,/crzoVQnMzIrRfHtQw0tLBirNfVg.jpg,They've saved the best trip for last... But th...,"Adventure, Comedy, Science Fiction","Universal Pictures, Amblin Entertainment",United States of America,English,"california, saloon, sports car, inventor, hors...",7.5,['Amazon Prime Video']
196,279,294,600,Full Metal Jacket,8.136,9665,Released,1987-06-26,46357676,117,...,40.541,/kMKyx1k8hWWscYFnPbnxxN4Eqo4.jpg,In Vietnam The Wind Doesn't Blow It Sucks,"Drama, War","Natant, Stanley Kubrick Productions, Warner Br...","United Kingdom, United States of America","English, Vietnamese","rescue, sniper, vietnam war, suicide, vietnam,...",8.2,['Amazon Prime Video']
197,282,297,510,One Flew Over the Cuckoo's Nest,8.420,9650,Released,1975-11-19,108981275,133,...,36.673,/3jcbDmRFiQ83drXNOvRDeKHxS0C.jpg,"If he's crazy, what does that make you?",Drama,Fantasy Films,United States of America,English,"mentally disabled, friendship, based on novel ...",8.6,['Amazon Prime Video']
198,284,299,629,The Usual Suspects,8.195,9604,Released,1995-07-19,23341568,106,...,30.858,/bUPmtQzrRhzqYySeiMpv7GurAfm.jpg,Five criminals. One line up. No coincidence.,"Drama, Crime, Thriller","Bad Hat Harry Productions, Blue Parrot Product...",United States of America,"Spanish, English, French, Hungarian","new york city, relatives, heist, gay interest,...",8.5,['Amazon Prime Video']
199,285,300,1949,Zodiac,7.500,9597,Released,2007-03-02,84785914,157,...,36.465,/6YmeO4pB7XTh8P8F960O1uA14JO.jpg,There's more than one way to lose your life to...,"Crime, Drama, Mystery, Thriller","Paramount, Phoenix Pictures, Warner Bros. Pict...",United States of America,English,"newspaper, journalist, california, based on no...",7.7,['Amazon Prime Video']

In [5]:
df.tail()

,Unnamed: 0.1,Unnamed: 0,id,title,vote_average,vote_count,status,release_date,revenue,runtime,...,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,imdb_rating,where_to_watch
2695,7740,14360,49565,The Man Who Planted Trees,8.068,146,Released,1987-05-13,0,30,...,8.698,/un0NjREDaLEWWOTr7tE52MjQY6O.jpg,NaN,"Animation, Drama, Fantasy","Société Radio-Canada, CBC, ONF | NFB",Canada,French,"shepherd, france, world war i, village, world ...",8.5,['Amazon Prime Video']
2696,7745,14369,361018,Akron,7.312,146,Released,2015-10-06,0,88,...,10.919,/7G92ackDnKzwqdBgqmR3xDsqHOE.jpg,Love now,"Romance, Drama",Towpath Productions,United States of America,English,gay theme,6.6,['Amazon Prime Video']
2697,7753,14386,42536,Napoléon,7.700,146,Released,1927-04-07,39448,333,...,12.374,/zGupJ1ZO07BWco8YGjBHk90hYWh.jpg,NaN,"Drama, History, War","Société Westi, Ciné France, Films Abel Gance, ...",France,No Language,"french revolution, biography, black and white,...",8.2,['Amazon Prime Video']
2698,7755,14392,533592,Scooby-Doo! and the Gourmet Ghost,8.144,146,Released,2018-08-28,0,77,...,8.879,/AtHngeqD4K1Oj01ulWc1aDJhU8H.jpg,NaN,"Animation, Adventure, Family, Comedy",Warner Bros. Animation,United States of America,English,"friendship, talking dog, resort, ghost",6.5,['Amazon Prime Video']
2699,7766,14410,364150,The Godfather Trilogy: 1901-1980,8.917,145,Released,1992-10-17,0,583,...,9.537,/rwEP0RwpF2mKGRbs7jerdC4aeMB.jpg,NaN,"Crime, Drama",NaN,NaN,"English, Italian",sicilian mafia,9.3,['Amazon Prime Video']