In [1]:
import os

%pwd

'd:\\Movie recommendation system\\Notebooks'

In [2]:
os.chdir("../")
%pwd

'd:\\Movie recommendation system'

In [3]:
import pandas as pd 

df = pd.read_csv("datasets/movie_with_user_rating.csv")

df.head(5)

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_17724\770992405.py:3: DtypeWarning: Columns (3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/movie_with_user_rating.csv")

,user_id,movie_id,title,imdb_rating,actors,where_to_watch,poster,user_rating
0,user_126,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,6.5
1,user_166,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.5
2,user_122,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.3
3,user_33,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,8.1
4,user_141,1001,Inception,8.8,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Amazon Prime Video,https://m.media-amazon.com/images/M/MV5BMjAxMz...,9.1

In [4]:
print(df.shape)

(16786850, 8)

In [14]:
df.groupby("user_id")["title"].count()

user_id
user_1      56146
user_10     56024
user_100    55683
user_101    56103
user_102    55745
            ...
user_95     55853
user_96     55923
user_97     55812
user_98     55440
user_99     55772
Name: title, Length: 300, dtype: int64

In [15]:
df2 = pd.read_csv("datasets/enriched_movies_platform.csv")

df2.head(10)

C:\Users\anuj verma\AppData\Local\Temp\ipykernel_17724\1979438066.py:1: DtypeWarning: Columns (3,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("datasets/enriched_movies_platform.csv")

,title,overview,language,release_year,tmdb_rating,tmdb_id,imdb_id,director,actors,imdb_rating,genre,poster,where_to_watch
0,Inception,"Cobb, a skilled thief who commits corporate es...","English, Japanese, French",2010.0,8.364,27205.0,tt1375666,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,"Action, Adventure, Sci-Fi",https://m.media-amazon.com/images/M/MV5BMjAxMz...,Amazon Prime Video
1,Interstellar,The adventures of a group of explorers who mak...,English,2014.0,8.417,157336.0,tt0816692,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",8.7,"Adventure, Drama, Sci-Fi",https://m.media-amazon.com/images/M/MV5BYzdjMD...,Amazon Prime Video
2,The Dark Knight,Batman raises the stakes in his war on crime. ...,"English, Mandarin",2008.0,8.512,155.0,tt0468569,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart",9.1,"Action, Crime, Drama",https://m.media-amazon.com/images/M/MV5BMTMxNT...,Amazon Prime Video
3,Avatar,"In the 22nd century, a paraplegic Marine is di...","English, Spanish",2009.0,7.573,19995.0,tt0499549,James Cameron,"Sam Worthington, Zoe Saldaña, Sigourney Weaver",7.9,"Action, Adventure, Fantasy",https://m.media-amazon.com/images/M/MV5BMDEzMm...,Amazon Prime Video
4,The Avengers,When an unexpected enemy emerges and threatens...,"English, Russian",2012.0,7.710,24428.0,tt0848228,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",8.0,"Action, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNGE0YT...,Amazon Prime Video
5,Deadpool,The origin story of former Special Forces oper...,English,2016.0,7.606,293660.0,tt1431045,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller",8.0,"Action, Comedy, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNzY3ZW...,"Amazon Prime Video,Disney+ hotstar"
6,Avengers: Infinity War,As the Avengers and their allies have continue...,English,2018.0,8.255,299536.0,tt4154756,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Hemsworth, Mark Ruffalo",8.4,"Action, Adventure, Sci-Fi",https://m.media-amazon.com/images/M/MV5BMjMxNj...,"Amazon Prime Video,Disney+ hotstar"
7,Fight Club,A ticking-time-bomb insomniac and a slippery s...,English,1999.0,8.438,550.0,tt0137523,David Fincher,"Brad Pitt, Edward Norton, Meat Loaf",8.8,"Crime, Drama, Thriller",https://m.media-amazon.com/images/M/MV5BOTgyOG...,Amazon Prime Video
8,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",English,2014.0,7.906,118340.0,tt2015381,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper",8.0,"Action, Adventure, Comedy",https://m.media-amazon.com/images/M/MV5BM2ZmNj...,Amazon Prime Video
9,Pulp Fiction,"A burger-loving hit man, his philosophical par...","English, Spanish, French",1994.0,8.488,680.0,tt0110912,Quentin Tarantino,"John Travolta, Uma Thurman, Samuel L. Jackson",8.8,"Crime, Drama",https://m.media-amazon.com/images/M/MV5BYTViYT...,Amazon Prime Video

In [17]:
df2.isnull().sum()

title                   5
overview           290538
language             7270
release_year       243359
tmdb_rating          7269
tmdb_id              7269
imdb_id            643292
director          1271257
actors            1271251
imdb_rating       1271254
genre             1278521
poster            1278523
where_to_watch    1278914
dtype: int64

In [18]:
df2.groupby("language")["title"].count()

language
English                                 379
English, Albanian, Spanish, Polish        1
English, Algonquin                        1
English, American Sign                    9
English, American Sign , Estonian         1
                                      ...
yi                                       89
yo                                       45
za                                        2
zh                                    41825
zu                                      120
Name: title, Length: 464, dtype: int64